[user]
	name = Kevin Mulvey
	email = kmulvey@linux.com
[alias]
	undo=reset --hard
	a=add --all
	c=commit -m
	co=checkout
	s=status
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = matching
