.bash_history
.bash_logout
.lesshst
.viminfo
.vim/.netrwhist

.ICEauthority
.adobe/
.appletviewer
.asoundrc
.audacity-data/
.bazel/
.bazelrc
.cache/
.config/
.dbus/
.dlv/
.eclipse/
.esd_auth
.esmtp_queue/
.gnome/
.gnupg/
.gnuplot_history
.gstreamer-0.10/
.hwid
.java/
.kde/
.local
.m2/
.macromedia/
.mozilla/
.mysql/
.npm/
.nv/
.p2/
.pki/
.pulse/
.rnd
.sqlite_history
.ssh/
.swp
.tooling/
.wget-hsts
Documents/
Downloads/
Music/
Pictures/
Podcasts/
go/
mail/
vpn/
