[user]
	name = Kevin Mulvey
	email = kevin@example.com
[alias]
	undo=reset --hard
	a=add --all
	c=commit -S -m
	co=checkout
	s=status
	l=log --show-signature
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = matching
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg2
